LOOKER_DEMO_HOST=embed.demo
DEMO_EMBED_PORT=8080
LOOKERSDK_BASE_URL=https://sko2020.dev.looker.com:19999
LOOKER_EMBED_HOST=sko2020.dev.looker.com
LOOKERSDK_API_VERSION=3.1
LOOKERSDK_CLIENT_ID=54cwg7tyx2jq3tzhfxxH
LOOKERSDK_CLIENT_SECRET=nNDXnzM2Q3Kn7QQ2TJjFQsx7